* {
    margin: 0;
    padding: 0;
}

.success {
    margin: 20px; /* Adjust margin as needed */
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.item {
    background-color: #f9f9f9; /* Light background for the form area */
    padding: 20px; /* Padding around the form content */
    margin: 20px auto; /* Centering the form with margin auto and some space from top and bottom */
    width: 80%; /* Control the width of the form */
    border-radius: 8px; /* Rounded corners for the form container */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for some depth */
}

.item form {
    display: grid; /* Using grid layout for form rows */
    grid-template-columns: 1fr 2fr; /* Two columns: 1 for labels and 2 for inputs */
    gap: 10px; /* Space between grid items */
    align-items: center; /* Align items vertically in the center */
}

.item label {
    font-weight: bold; /* Makes labels bold */
    padding-right: 10px; /* Right padding for spacing between label and input */
}

.item input[type="text"],
.item input[type="file"],
.item select {
    width: 100%; /* Full width within grid column */
    padding: 8px; /* Padding inside the input for better readability */
    border: 1px solid #ccc; /* Border for inputs */
    border-radius: 4px; /* Rounded corners for inputs */
}

.item button {
    grid-column: span 2; /* Button spans across both columns */
    padding: 10px; /* Padding inside button */
    background-color: #4CAF50; /* Green background for the button */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    margin-top: 20px; /* Top margin for spacing from last input */
    transition: background-color 0.3s; /* Transition for hover effect */
    display: flex; /* Use flex to align the image inside the button */
    align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally */
}

.item button img {
    height: 20px; /* Adjust image size inside the button */
    width: auto; /* Maintain image aspect ratio */
}

.item-table button:hover {
    background-color: #45a049; /* Darker green when hovered */
}
